$primaryColor1: hsl(12, 88%, 59%);
$primaryColor2: hsl(228, 39%, 23%);
//
$neutralColor1: hsl(227, 12%, 61%);
$neutralColor2: hsl(233, 12%, 13%);
$neutralColor3: hsl(13, 100%, 96%);
$neutralColor4: hsl(0, 0%, 98%);
